body {
  background-color: #111;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  color: #fff;
}


input[type=color],
input[type=color]::-webkit-color-swatch,
input[type=color]::-webkit-color-swatch-wrapper {
  border: 9px;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}