body {
    background-color: #111;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: #fff;
}

.container,
.settings-container {
    height: 100vh;
    position: relative;
    background-color: #111;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.settings-container {
    padding: 1px;
    height: auto;
    margin: 1%;
    background-color: #444;
}

.settings-content {
    display: none;
    border-radius: 12px;
    padding: 15px 32px;
}

.setting {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
    /* Adjust as needed for spacing */
}

.setting label {
    margin-bottom: 5px;
}

.setting input {
    text-align: center;
}

.clickable,
.settings-container {
    background-color: #444;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}

.clickable:hover {
    background-color: #555;
}

.toggle {
    display: none;
}

.toggle:checked+.clickable+.settings-content {
    display: block;
}

.custom-text-field {
    background-color: #868686;
    height: 21px;
    font-size: 18px;
    text-align: center;
}

.header {
    font-size: 36px;
    background-color: none;
    margin-bottom: 1%;
}

/* Slider styles */
input[type=range] {
    /* CSS variable for thumb content */
    --thumb-content: '';
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 10px 0;
    background: transparent;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #38ffb9;
    height: 8px;
    border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #444;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -11px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

input[type=range]:focus {
    outline: none;
}